/* Set base font-size for rem units */
html {
  font-size: 18px;
}

/* Set background color to match jumbotron image */
body {
    background-color: #e5e5e5;
}

/* Style header */
.jumbotron-fluid {
  background-image: url("../images/handies-peak.jpg");
  background-size: cover;
  background-attachment: fixed;
  height: 30rem;
  color: #FFF;
  border-top: 5px solid #000;
  border-bottom: 5px solid #000;
  text-align: center;
  padding-top: 1.5rem;
}

.info {
  font-family: 'Lato', sans-serif;
  background-color: #225EA4;
  border: 5px solid #000;
  padding: 1rem 2rem;
  margin-top: 7rem;
  display: inline-block;
  box-shadow: inset 1px 1px 10px #000;
}

h1 {
  font-size: 3rem;
  margin:0;
}

h2 {
  padding-top: 0.5rem;
  font-size: 1.5rem;
}

/* Style navigation bar */
nav {
  display: flex;
  justify-content: flex-end;
}

nav a {
  color: #000;
  font-size: 1rem;
  padding-right: 1.5rem;
}

a:hover {
  cursor: pointer;
  text-decoration: none;
  color: #FFF;
}

ul {
  list-style: none;
}

ul img {
  height: 2rem;
  width: 2rem;
}

/* Style portfolio sites section */
#portfolio {
  padding: 2rem 2rem 4rem 2rem;
}

#portfolio img {
  max-width: 100%;
}

#portfolio h3 {
  text-align: center;
  font-size: 2.25rem;
  font-weight: bold;
  padding-top: 1rem;
  color: #225EA4;
}

.sites {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.sites .site {
  max-width: 22%;
  text-align: center;
}

h4 {
  margin-top: 0;
}

/* entire container, keeps perspective */
.flip-container {
	perspective: 1000px;
  margin-top: 2rem;
}

/* flip the pane when hovered */
.flip-container:hover .flipper, .flip-container.hover .flipper {
	transform: rotateY(180deg);
}

.flip-container, .front, .back {
	width: 256px;
	height: 194px;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
  border: 4px solid #000;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
  text-align: center;
  background-color: #225EA4;
  color: white;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.back a {
  background-color: #FFF;
  color: #225EA4;
  padding: 0.5rem 1rem;
  font-weight: bold;
}

/* Style contact section */
#contact {
    padding-bottom: 1.25rem;
    margin: auto;
}

#contact h3 {
  text-align: center;
  color: #FFF;
  font-size: 2rem;
  margin: 0;
}

#contact p {
  text-align: center;
  color: #FFF;
  font-size: 1.2rem;
  font-weight: bold;
}

#contact a {
  color: #FFF;
  padding: 0;
  font-weight: normal;
  background-color: #225EA4;
}

#contact span {
  font-weight: normal;
}

#contact a:hover {
  color: #000;
}

#contact.flip-container, #contact .front, #contact .back {
	width: 316px;
	height: 180px;
  border: none;
}

#contact .front {
  background-color: #225EA4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("../images/water-texture.png");
  background-size: cover;
}

#contact .front, #contact .back {
  box-shadow: 5px 5px 10px #000;
}

#contact .back {
  background-color: #225EA4;
}

/* Style footer */
footer {
  margin-top: 4rem;
  background-color: #225EA4;
  border-top: 4px solid #000;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  color: #FFF;
}

footer p {
  font-size: 1rem;
  padding-top: 0.9rem;
}

#social-links {
  display: flex;
  justify-content: space-between;
}

#social-links a {
  padding: 0.5rem;
  font-size: 1.5rem;
  color: #FFF;
}

@media only screen and (max-width: 800px) {
  .jumbotron-fluid {
    background-attachment: scroll;
  }
}

@media only screen and (max-width: 600px) {

}
